<h1><%=@idea.title%></h1>
<p><%=@idea.description%></p>
<small><%= time_ago_in_words(@idea.created_at)%></small>

<%= link_to "Edit", edit_idea_path(@idea)%>
<%= link_to "Delete", idea_path(@idea), method: :delete, data: {confirm: "Are you sure you want to delete your post?"}%>

<h2>Review this idea</h2>
<%= form_with model: [@idea, @review], local: true do |form| %>
    <% if @review.errors.any? %>
        <ul>
            <% @review.errors.full_messages.each do |error|%>
                <li><%= error%></li>
            <% end %>
        </ul>
    <% end %>
    
    <div>
        <%=form.label :body%>
        <%= form.text_area :body%>
    </div>
    <%= form.submit%>
<% end %>

<% @reviews.each do |review|%>
    <p><%= review.body%></p>
    <small><%= time_ago_in_words(review.created_at)%></small>
<% end %>