<!DOCTYPE html>
<html>
  <head>
    <title>IdeaFactory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class='nav-bar'>
      <div><%= link_to image_tag("https://how.us.org/wp-content/uploads/2018/08/idea6.png", class: 'logo'), ideas_path%></div>
      <%= flash[:notice] || flash[:alert]%>

      <span class='sub-navigation'>

        <div class='panel'>
          <div><%= link_to "New Idea", new_idea_path%> |</div>
          <% if user_signed_in? %>
            <p>Hello, <%= current_user.full_name%></p> |
            <p><%= link_to "Sign Out", session_path(current_user), method: :delete, data: {confirm: "Do you want to sign out?"}, class: 'sub-panel'%></p> |
          <% else %>
            <p><%= link_to "Sign Up", new_user_path, class: 'sub-panel'%></p> |
            <p><%= link_to "Sign In", new_session_path, class: 'sub-panel'%></p> 
        <% end %>
        </div>
      </span>
    </div>

    <%= yield %>
  </body>
</html>
